@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box; 
    background-color: black;
    color: #f6f6f6;
    }

.cabecalho{
    padding: 2% 0% 0% 15%;
    }

.cabecalho__menu{
        display: flex;
        gap: 80px;
    }
    
.cabecalho__menu__link{
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
    }

.destaque-titulo{
    color: #22D4FD;
    }

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo__foto{
    display: flex;
    width: 100%;
    padding: 5% 5% 5% 15%;
  
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    }

.apresentacao__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;

    }

.apresentacao__links__botoes{
    background-color:black;
    border: 2px solid #22D4FD;      
    width: 378px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;

}

.apresentacao__links__botoes__simples{
    text-decoration: none;
    color: white;
}

.apresentacao__links__botoes:hover{
    background-color: #272727;
}

.apresentacao__links__botoes__simples:hover{
    background-color: rgba(154, 155, 156, 0.514);
    text-decoration: underline;
}

.rodape{
    color: #000000;
    background-color: #22D4FD;
    padding: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    display: flexbox; 
    position: relative;   
}

